<header>
	<a href="tasks"><h1 class="logo">Task Manager</h1></a>
	<input class="nav-toggle" id="nav-toggle" type="checkbox" name="nav-toggle">
	<label for="nav-toggle" class="nav-toggle-label">
		<span></span>
	</label>
	<nav class="nav">
		<ul>
			<li><a href="tasks">Tasks</a></li>
			<li><a href="about">About</a></li>
			<li><a href="feedback">Contact</a></li>

 			<% if(locals.isLoggedIn){  %>
                <li><a class="logout" href="logout">Log out</a></li>
            <% }else{ %>
                <li><a href="login">Log in</a></li>
            <% } %> 



		</ul>
	</nav>
</header>
