<div class="container">
	<form class="form login">
		<h1>Log in</h1>
		<div class="form-control">
			<input id="email" type="email" name="email">
			<label for="email">Email</label>
			<div class="form-error">
			<span></span>
			</div>
		</div>
		<div class="form-control">
			<input id="password" type="password" name="password">
			<label for="password">Password</label>
			<div class="form-error">
			<span></span>
			</div>
		</div>
		<div class="form-control">
			<button type="submit" class="btn">Log in</button>
		</div>
		<div class="form-control form-links">
			<a href="registration">Register</a>
			<a href="reset">Reset password</a>
		</div>
	</form>
</div>