<!DOCTYPE html>
<html>
<head>

		<%- include('partials/head.ejs'); %>

<body>
		<%- include('partials/header.ejs'); %> 

		<div class="container">
			<h1>About</h1>
			<p>Task Manager is an online application that allows signed in users to track their to do tasks. Tasks can be added, removed and marked done or undone. Registered users can reset password by supplying their email address, they will then receive password renewal email.</p>
			<a href="https://github.com/keijop/omnia_01_task_manager">App's source code</a>
		</div>
</body>
</html>