<!DOCTYPE html>
<html>
		<%- include('partials/head.ejs'); %>
<body>	

		<%- include('partials/header.ejs'); %>

		<div class="container">

			<% if(!h1){%>
				<h1>Log in</h1> 
			<% }else{ %>
				<h1>Log in to see your tasks</h1> 
			<% } %>	

			<%- include('partials/login-form.ejs'); %> 

		</div>

</body>
</html>