<!DOCTYPE html>
<html>
		<%- include('partials/head.ejs'); %>
<body>	

		<%- include('partials/header.ejs'); %>

		<div class="container">

			<h1>Log in</h1>

			<%- include('partials/login-form.ejs'); %> 

		</div>

</body>
</html>