<!DOCTYPE html>
<html>
		<%- include('partials/head.ejs'); %>
<body>	

		<%- include('partials/header.ejs'); %>

		<div class="container">

			<div class="not-found">Wrong turn<br>404<br>Resource not found</div>


		</div>

</body>
</html>