<!DOCTYPE html>
<html>

	<%- include('partials/head.ejs'); %> 

<body>
		<%- include('partials/header.ejs'); %>  
		
	<div class="container">
		<form class="form reset-password-form" method="POST" action="reset/password">
			<h1>Enter new password</h1>
			<div class="form-control">
				<input id="password" type="password" name="password">
				<label for="password">password</label>
			</div>
			<div class="form-control">
				<input id="password1" type="password" name="password1">
				<label for="password1">re-enter password</label>
			</div>
			<div class="form-control">
				<button type="button" class="btn password-submit">Confirm</button>
			</div>
		</form>
	</div>
	<script type="module" src="/views-js/password-browser.js"></script>
</body>
</html>