<!DOCTYPE html>
<html>

	<%- include('partials/head.ejs'); %> 

<body>
	<%- include('partials/header.ejs'); %> 

	<div class="container">
		<h1>Hi <%= name %>, here are your tasks</h1>
		<div class="tasks">
			<div class="task-add">
				<p>add
					<span class="material-icons task-add-icon">add_circle_outline
					</span>
				</p>
			</div>
			<div class="task-wrapper task-add-form">
				<input id="description" type="text" name="description" placeholder="e.g wash dishes">
				<label for="description"></label> 
				<input id="deadline" type="date" name="deadline">
				<label for="deadline"></<label>
				<button class="btn task-add-submit " type="submit">add task</task>
			</div>
			<div class="tasksDOM"><div>
		</div>
	</div>

	<script type="module" src="/views-js/tasks-browser.js"></script>
</body>
</html>